@charset "UTF-8";

.wrap {
	background-image: url("/skc/img/join-main.jpg");
	height: 100%;
	min-height: 100%;
	background-size: cover;
	background-position: bottom;
}

.aaa {
	width: 900px;
	margin: 250px auto;
	padding: 50px;
	font-weight: bold;
	background-color: #ffffff;
	opacity: 0.9;
}

tr {
	height: 40px;
}

#asd {
	background-image: url("/skc/img/login-main.png");
	height: 100%;
	min-height: 100%;
	background-position: center;
	background-size: cover;
}
.findform{
	position: relative;
	left: 10px;
	top: -70px;
}

