@import
	url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,600,700')
	;

body {
	background: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #636e7b;
}

section {
	padding: 70px 0px 60px 0px;
}

h1, h2, h3, h4, h5, h6 {
	color: #242c36;
	margin: 0 0 15px 0;
	letter-spacing: 1px;
	font-weight: bold;
}

.dark {
	background: #f4f5f7;
}

.form-control {
	border: 1px solid #ccc;
	border-radius: 2px;
	height: 45px;
	margin-bottom: 10px;
	box-shadow: none;
	font-size: 14px;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary.focus,
	.btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary
	{
	color: #fff;
	background-color: #da0833;
	border-color: #da0833;
	text-transform: uppercase;
	border-radius: 2px;
	box-shadow: none;
	padding: 10px 25px;
}

.form-control::-moz-placeholder {
	color: #8796a9;
	opacity: 1
}

.form-control:-ms-input-placeholder {
	color: #8796a9
}

.form-control::-webkit-input-placeholder {
	color: #8796a9
}
/*---------------Navigation Start-----------------*/
nav.navbar.bootsnav ul.nav>li>a {
	color: #ffffff;
	font-weight: 400;
	font-size: 14.2px;
	font-family: 'Montserrat', sans-serif;
	background-color: transparent !important;
}

nav.navbar.bootsnav ul.nav>li>a:hover {
	color: #da0833;
}

nav.navbar.bootsnav ul.nav>li.active>a {
	color: #da0833;
}

@media ( min-width : 1024px) {
	nav.navbar li.dropdown ul.dropdown-menu {
		border-top: solid 5px #da0833 !important;
	}
}
/*-------------------Banner Start-----------------------*/
.main-banner {
	background-size: cover !important;
	background-position: center !important;
	padding: 14% 0;
	position: relative;
	text-align: center;
	color: #ffffff;
	margin: 0;
}

.main-banner .caption {
	position: relative;
}

.main-banner h2 {
	color: #ffffff;
	font-weight: 400;
	display: block;
	margin-bottom: 25px;
}

.main-banner:before {
	content: "";
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	background: rgba(12, 20, 25, 0.3);
}

fieldset {
	margin-top: 52px;
	background: rgba(255, 255, 255, 0.3);
	padding: 20px 20px 10px 20px;
}

fieldset .no-pad {
	margin: 0;
	padding: 0;
}

.main-banner fieldset select.selectpicker, .main-banner fieldset .form-control,
	.main-banner fieldset .seub-btn {
	width: 100%;
	color: #6b797c;
	padding: 19px 15px;
	border: none;
	border-radius: 0;
	height: auto;
	line-height: 1.5;
	font-size: 16px;
	height: 60px;
}

.main-banner fieldset select.selectpicker:focus, .main-banner fieldset .form-control:focus,
	.main-banner fieldset .seub-btn:focus {
	outline: none;
}

.main-banner fieldset .border-right {
	border-right: 1px solid rgba(107, 121, 124, 0.3) !important;
}

.main-banner .btn.seub-btn {
	background: #da0833;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 18px;
	text-shadow: none;
	line-height: 1.2;
}

/*--------------------Default Page Header-----------------------*/
.jumbotron {
	background: url(../img/background.jpg);
	background-size: cover;
	background-position: center;
	padding: 13% 0;
	position: relative;
	text-align: center;
	color: #ffffff;
	margin: 0;
}

.jumbotron:before {
	content: "";
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	background: rgba(12, 20, 25, 0.5);
}

.user-img {
	max-width: 220px;
	position: relative;
	margin: 0 auto;
}

.jumbotron img {
	display: table;
	max-width: 200px;
	border-radius: 50%;
	margin: 0 auto;
	position: relative;
	border: 6px solid rgba(255, 255, 255, 0.8);
}

.caption.bott {
	margin-bottom: 80px;
}

.notify {
	position: relative;
	margin-top: -5px;
}

.notify .ring {
	position: absolute;
	top: -20px;
	left: 50px;
	height: 25px;
	width: 25px;
	z-index: 10;
	border: 5px solid #da0833;
	border-radius: 100%;
	-moz-animation: ring 1s ease-in;
	-moz-animation-iteration-count: infinite;
	-o-animation: ring 1s ease-in;
	-o-animation-iteration-count: infinite;
	-webkit-animation: ring 1s ease-in;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.notify .ring-point {
	width: 6px;
	height: 6px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 100%;
	background-color: #da0833;
	position: absolute;
	left: 59px;
	top: -10px;
}

.jumbotron h4 {
	font-size: 28px;
	margin-top: 12px;
	margin-bottom: 10px;
	position: relative;
	color: #ffffff;
}

.jumbotron p {
	font-size: 17px;
	position: relative;
}

.jumbotron p span {
	font-size: 14px;
	color: #13ad00;
}

.basic-information {
	position: relative;
	z-index: 1;
	background-color: #fff;
	padding: 30px 30px 20px;
	-webkit-box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .07);
	box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .07);
	border: 1px solid #eaecf1;
	display: table;
	width: 100%;
}

.profile-detail img {
	border: 4px solid rgba(107, 121, 124, 0.2);
}

.basic-information h2 {
	margin: 0;
	margin-bottom: 10px;
	color: #404b4d;
}

.basic-information h2 span {
	color: #da0833;
	font-size: 15.5px;
	display: block;
}

.basic-information p {
	font-size: 17px;
}

.information {
	margin: 0;
	padding: 0;
}

.information li {
	display: block;
	padding: 10px 0;
	font-size: 15.5;
	list-style: none;
	border-bottom: 1px solid rgba(107, 121, 124, 0.1);
}

.information li span {
	display: inline-block;
	font-weight: bold;
	width: 150px;
}

.social {
	margin: 0;
	padding: 50px 0;
	display: inline-block;
	width: 100%;
}

.social li {
	list-style: none;
	float: left;
	margin-bottom: 7px;
}

.social li a {
	font-size: 15px;
	color: #6b797c;
}

.social li:hover a, .social li:focus a {
	text-decoration: none;
}

a.facebook {
	border: 1px solid #295396;
	width: 90%;
	display: inline-block;
	padding: 4px 5px;
	border-radius: 50px;
}

a.google {
	border: 1px solid #d6201f;
	width: 90%;
	display: inline-block;
	padding: 4px 5px;
	border-radius: 50px;
}

a.twitter {
	border: 1px solid #1da0f2;
	width: 90%;
	display: inline-block;
	padding: 4px 5px;
	border-radius: 50px;
}

a.linkedin {
	border: 1px solid #0077b5;
	width: 90%;
	display: inline-block;
	padding: 4px 5px;
	border-radius: 50px;
}

a.instagram {
	border: 1px solid #d3368c;
	width: 90%;
	display: inline-block;
	padding: 4px 5px;
	border-radius: 50px;
}

.social li i {
	width: 42px;
	height: 42px;
	border-radius: 50%;
	color: #ffffff;
	line-height: 42px;
	text-align: center;
	margin-right: 7px;
}

.social li .facebook i {
	background: #295396;
}

.social li .google i {
	background: #d6201f;
}

.social li .twitter i {
	background: #1da0f2;
}

.social li .linkedin i {
	background: #0077b5;
}

.social li .instagram i {
	background: #d3368c;;
}

.panel {
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: none;
	border: none;
}

.panel-default>.panel-heading {
	background: #f4f5f7;
	box-shadow: none;
	border: none;
	color: #505a5d;
}

.basic-information p {
	font-size: 16px;
	line-height: 1.9;
}

.service-tag {
	background-color: #da0833;
	border-radius: 0 2px 2px 0;
	color: #fff;
	display: inline-block;
	font-size: 11px;
	font-weight: 700;
	line-height: 1.2727272727;
	margin: 2px 4px 2px 10px;
	padding: 3px 7px;
	position: relative;
	text-transform: uppercase;
}

.service-tag:after {
	background-color: #fff;
	border-radius: 50%;
	content: "";
	height: 4px;
	position: absolute;
	top: 8px;
	left: -2px;
	width: 4px;
}

.service-tag:before {
	border-top: 10px solid transparent;
	border-right: 8px solid #da0833;
	border-bottom: 10px solid transparent;
	content: "";
	height: 0;
	position: absolute;
	top: 0;
	left: -8px;
	width: 0;
}

.panel-body ul {
	margin: 0;
	padding: 0;
	margin-top: 20px;
}

.panel-body ul li {
	list-style: none;
	line-height: 1.7;
	padding: 0 0 6px 10px;
	margin: 10px 0;
	margin-left: 16px;
}

.panel-body ul li:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	content: "\f067";
	color: #da0833;
	padding: 8px 12px 8px 5px;
	margin-left: -31px;
}

/*------------------package section start---------------*/
.package-box {
	background: #ffffff;
	border-radius: 6px 6px 0px 0px;
	overflow: hidden;
	margin-bottom: 30px;
	text-align: center;
	padding: 0px 10px 30px 10px;
	border: 1px solid #f4f5f7;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(107, 121, 124, 0.2);
	box-shadow: 0px 0px 10px 0px rgba(107, 121, 124, 0.2);
}

.package-header {
	padding: 20px 0;
}

.package-header i {
	font-size: 3em;
}

.package-header h3 {
	text-transform: uppercase;
	color: #242c36;
	font-size: 20px;
	font-weight: 600;
}

.package-info ul {
	padding: 0 15px;
	margin: 0;
}

.package-info ul li {
	padding: 10px 0;
	list-style: none;
	border-bottom: 1px solid #f4f5f7;
}

.package-price {
	padding: 20px 0;
}

.package-price h2 {
	color: #242c36;
	font-weight: 600;
}

.package-price h2 sup, .package-price h2 sub {
	font-size: 20px;
	opacity: 0.7;
}

button.btn.btn-package {
	background: #da0833;
	color: #ffffff;
	text-transform: uppercase;
	padding: 10px 32px;
	border-radius: 50px;
}

button.btn.btn-package:hover, button.btn.btn-package:focus {
	background: #242c36;
}

/*----------------Newsletter Style----------------*/
.newsletter {
	text-align: center;
	position: absolute;
	top: 69px;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(10, 10, 10, 0.5);
	height: 380px
}

.newsletter h2 {
	font-weight: 500;
	margin-bottom: 5px;
	color: #fff;
}

.newsletter p {
	font-size: 23px;
	font-family: initial;
	font-style: italic;
	color: #fff;
}

.newsletter input.form-control {
	border: 1px solid #fff;
	box-shadow: none;
}

.newsletter button.btn.btn-default {
	background: #000;
	text-transform: uppercase;
	border-color: #da0833;
	color: #ffffff;
}
/*------login style---*/
section.login-wrapper {
	text-align: center;
}

section.login-wrapper p a {
	color: #da0833;
}

section.login-wrapper p {
	margin-top: 20px;
}

section.login-wrapper label, section.login-wrapper label a {
	font-weight: 400;
	display: block;
	text-align: left;
	color: #636e7b;
}

section.login-wrapper img {
	margin: 20px auto;
}
/*-------------------Inner page Start-----------------------*/
.inner-banner {
	background-size: cover !important;
	background-position: center !important;
	padding: 7% 0;
	position: relative;
	text-align: center;
	color: #ffffff;
	margin: 0;
}

.inner-banner .caption {
	position: relative;
}

.inner-banner h2 {
	color: #ffffff;
	font-weight: 400;
	display: block;
	margin-bottom: 25px;
}

.inner-banner p {
	color: #ffffff;
	font-weight: 300;
	display: block;
	font-size: 20px;
	margin-top: 15px;
}

.inner-banner p span {
	color: #da0833;
}

.inner-banner:before {
	content: "";
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	background: rgba(12, 20, 25, 0.7);
}

/*------------------footer design-------------------------*/
footer {
	padding: 30px 0 0 0;
}

footer img {
	margin-bottom: 20px;
}

footer h4 {
	color: rgba(255, 255, 255, 0.7);
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 400;
}

footer ul {
	margin: 0;
	padding: 0;
}

footer ul li {
	list-style: none;
}

footer ul li a {
	color: #636e7b;
	line-height: 2;
}

footer ul li a:hover {
	color: #da0833;
}

footer address ul li {
	margin-bottom: 10px;
	line-height: 1.8;
}

footer .form-control {
	border: 1px solid #3f4a58;
	margin-bottom: 7px;
	border-radius: 2px;
	box-shadow: none;
	color: #8796a9;
	height: 45px;
	font-size: 14px;
	background: #333d4a;
}

footer textarea.form-control {
	height: 70px;
}

footer button.btn.btn-primary {
	border-radius: 2px;
	min-width: 120px;
	padding: 10px 0;
	text-align: center;
	text-transform: uppercase;
	background: #da0833;
	border: 1px solid #da0833;
}

footer .form-control::-moz-placeholder {
	color: #8796a9;
	opacity: 1
}

footer .form-control:-ms-input-placeholder {
	color: #8796a9
}

footer .form-control::-webkit-input-placeholder {
	color: #8796a9
}
/*---------------------------responsive start-----------------------*/
@media only screen and (max-width: 767px) {
	.social li {
		width: 100%;
	}
	.main-banner select {
		margin-bottom: 10px;
	}
	.company-content p span {
		display: block;
	}
	.input-group {
		width: 100%;
		display: block;
	}
	.newsletter button.btn.btn-default {
		margin: 5px 0;
		width: 100%;
		height: 42px;
		border-radius: 2px;
	}
	.input-group-addon, .input-group-btn {
		display: table;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.inner-banner h2 {
		margin-bottom: 2px;
	}
	.inner-banner p {
		margin-top: 2px;
	}
	.basic-information p {
		font-size: 14px;
		line-height: 1.9;
	}
}

@media only screen and (min-width: 768px) {
	.main-banner h2 {
		font-size: 82px;
	}
	.inner-banner h2 {
		font-size: 82px;
	}
	.social li {
		width: 20%;
	}
	.newsletter button.btn.btn-default, .newsletter input.form-control {
		height: 60px;
		padding: 0 20px;
	}
}

/* 로그아웃 버튼 */
#btnLogout {
	cursor: pointer;
}

/*파트너회원은 이벤트 페이지에 들어가지 못한다*/
.event_limit {
	cursor: pointer;
}

@media only screen and (max-width: 767px) {
	.counter {
		display: none;
	}
}

@media only screen and (min-width: 767px) {
	.counter {
		display: block;
	}
}

/* 메인페이지 */
section.about {
	padding-top: 110px;
	position: relative;
	color: #777;
	font: 14px/1.6 'Noto Sans Korean', 'Apple SD Gothic Neo', "맑은 고딕",
		"Malgun Gothic", Helvetica, Arial, sans-serif !important;
	padding: 110px 0 30px 0 !important;
}

section.about .aboutDesc1 {
	margin: 0 0 20px;
}

section.about p strong, section.about p b {
	color: #444;
	font-weight: 600;
}

section.about .statCnt {
	font-size: 12px;
	color: #00bff0;
	letter-spacing: -0.5px;
	overflow: hidden;
	margin-bottom: 20px;
	background: #ffffff;
}

section.about span.ico {
	margin: 0 30px 50px 0;
	float: left;
}

section.about .statCnt img {
	width: 40px;
	height: 40px;
}

section.about span {
	display: inline-block;
	color: #000;
}

section.about img {
	vertical-align: middle;
	border: 0;
}

section.about .statCnt b {
	background: #ffffff !important;
	color: #0d1f35;
	display: block;
	font-size: 20px;
	font-weight: 200;
	letter-spacing: 0;
	font-family: 'Varela Round';
}

section.about .aboutDesc2 {
	margin: 0 0 40px;
}

section.about p strong, section.about p b {
	color: #444;
	font-weight: 600;
}

section.about .items {
	letter-spacing: -0.5px;
	color: #888;
	font-size: 10px;
}

section.about .items span {
	text-align: center;
	min-width: 80px;
	margin: 0 0 40px;
}

section.about .items i {
	display: inline-block;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	padding: 6px;
}

section.about .items img {
	width: 20px;
	height: 20px;
}

section.about .items small {
	font-size: 12px;
	display: block;
}

.about-text {
	text-align: center;
	color: #ffffff;
	background: #000000;
}

.about-text h3 {
	color: #ffffff;
	font-weight: 400;
	font-size: 20px;
	margin-bottom: 5px;
}

.about-text p {
	color: #ffffff;
	font-weight: 400;
	font-size: 17px;
	text-transform: uppercase;
	margin-bottom: 0;
}

.about-text span {
	font-size: 30px;
	color: rgba(255, 255, 255, 0.7);
	margin-bottom: 15px;
}

@media ( max-width : 767px) {
	section.about .statCnt {
		text-align: center;
	}
}

@media ( max-width : 767px) {
	section.about {
		margin: 30px 0 0;
		text-align: center;
	}
}

.section-border {
	border: 1px solid #eee;
}

.main-down-row {
	padding-top: 25px;
}

@media only screen and (max-width: 767px) {
	section.about .statCnt img {
		display: none;
	}
}

.sectionTitle {
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}

.sectionTitle h2 {
	font-size: 24px;
	font-weight: 300;
	color: #00bff0;
	letter-spacing: -1.5px;
	margin: 0 0 30px;
}

.sectionTitle h2 small {
	font-size: 13px;
	color: #555;
	display: block;
	font-weight: 300;
	margin: 8px 0 10px;
	letter-spacing: -0.5px;
}

.illustWrap {
	padding: 0 !important;
}

.illust {
	font-size: 14px;
	padding-bottom: 40px;
}

.slideInUp {
	-webkit-animation-name: slideInUp;
	animation-name: slideInUp;
}

.illust h3 {
	font-size: 20px;
	font-weight: 400;
	letter-spacing: -1px;
	margin: 10px 0;
}

.illust p {
	margin-top: -5px;
	font-size: 14px;
	letter-spacing: -0.5px;
	color: #777;
}

.illust p strong {
	font-weight: 500;
}

.illustWrap img {
	max-width: 100%;
	border-radius: 8px;
}

section.about span {
	display: inline-block;
	color: #000;
}

.sectionTitle h2 {
	font-size: 24px;
	font-weight: 300;
	color: #00bff0;
	letter-spacing: -1.5px;
	margin: 0 0 30px;
}

.recommend-membership-Intro {
	background: #eee;
}

.recommend-membership {
	text-align: center;
}

.illustWrapInner {
	text-align: center;
}

.footer-bottom-area {
	background: #ff2;
}

.fba-copyright p {
    color: #000000;
    line-height: 30px;
    margin-bottom: 0px !important;
}